# ASSIGEMENT 1

### 1) Create a tuple called data with two values, (1, 2) and (3, 4)

In [83]:
data = ((1,2),(3,4))
data

((1, 2), (3, 4))

In [84]:
type(data)

tuple

### 2) Create the list [4, 3, 2, 1] and assign it to variable numbers.

In [11]:
number=[4,3,2,1]
number

[4, 3, 2, 1]

### 3) Create a copy of the number list using (:)

In [12]:
number[:]

[4, 3, 2, 1]

#### 4) Sort the numbers list in numerical order

In [22]:
number.sort()

### 5) Create a tuple "cardinal_numbers" with "first", "second" and "third"

In [88]:
cardinal_numbers=('first','second','third')
cardinal_numbers

('first', 'second', 'third')

### 6) Display the second object in the tuple

In [89]:
cardinal_numbers[1]

'second'

### 7) Unpack the tuple into three strings and display them

In [90]:
step1,step2,step3=cardinal_numbers
print(step1)
print(step2)
print(step3)

first
second
third

### 8) Create a tuple containing the letters of your name from a string

In [91]:
my_name=tuple("HITESH")
my_name

('H', 'I', 'T', 'E', 'S', 'H')

### 9) Check whether or not x is in my_name

In [92]:
print("X" in my_name)

False

### 10) Check whether or not s is in my_name

In [93]:
print("X" not in my_name)

True